In [15]:
#install Beautiful Soup and requests for Web Scaping
!pip install BeautifulSoup4
!pip install requests

Requirement already satisfied: BeautifulSoup4 in c:\users\sudarshanrajan\appdata\local\programs\python\python37\lib\site-packages (4.7.1)
Requirement already satisfied: soupsieve>=1.2 in c:\users\sudarshanrajan\appdata\local\programs\python\python37\lib\site-packages (from BeautifulSoup4) (1.9.2)
Requirement already satisfied: requests in c:\users\sudarshanrajan\appdata\local\programs\python\python37\lib\site-packages (2.22.0)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\sudarshanrajan\appdata\local\programs\python\python37\lib\site-packages (from requests) (2019.6.16)
Requirement already satisfied: idna<2.9,>=2.5 in c:\users\sudarshanrajan\appdata\local\programs\python\python37\lib\site-packages (from requests) (2.8)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\sudarshanrajan\appdata\local\programs\python\python37\lib\site-packages (from requests) (1.25.3)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\users\sudarshanrajan\appdata\local\programs\python\python37\lib\site-packages (from requests) (3.0.4)

In [16]:
#imports
from bs4 import BeautifulSoup
import requests
import pandas as pd
import numpy as np

#get html from wiki page and create soup object
source = requests.get("https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M")
soup = BeautifulSoup(source.text, 'lxml')

#using soup object, iterate the .wikitable to get the data from the HTML page and store it into a list
data = []
columns = []
table = soup.find(class_='wikitable')
for index, tr in enumerate(table.find_all('tr')):
    section = []
    for td in tr.find_all(['th','td']):
        section.append(td.text.rstrip())
    
    #First row of data is the header
    if (index == 0):
        columns = section
    else:
        data.append(section)

#convert list into Pandas DataFrame
canada_df = pd.DataFrame(data = data,columns = columns)
canada_df.head()

  Postcode           Borough     Neighbourhood
0      M1A      Not assigned      Not assigned
1      M2A      Not assigned      Not assigned
2      M3A        North York         Parkwoods
3      M4A        North York  Victoria Village
4      M5A  Downtown Toronto      Harbourfront

Add Geospatial Data

In [17]:
#Get data lat/long data from csv
lat_long_coord_df = pd.read_csv("http://cocl.us/Geospatial_data")

#rename columns and set the index to be Postcode
lat_long_coord_df.columns = ["Postcode", "Latitude", "Longitude"]
if(lat_long_coord_df.index.name != 'Postcode'):
    lat_long_coord_df = lat_long_coord_df.set_index('Postcode')
    
lat_long_coord_df.head()

           Latitude  Longitude
Postcode
M1B       43.806686 -79.194353
M1C       43.784535 -79.160497
M1E       43.763573 -79.188711
M1G       43.770992 -79.216917
M1H       43.773136 -79.239476

In [18]:
canada_df = canada_df.join(lat_long_coord_df)
canada_df.head(11)

   Postcode           Borough     Neighbourhood  Latitude  Longitude
0       M1A      Not assigned      Not assigned       NaN        NaN
1       M2A      Not assigned      Not assigned       NaN        NaN
2       M3A        North York         Parkwoods       NaN        NaN
3       M4A        North York  Victoria Village       NaN        NaN
4       M5A  Downtown Toronto      Harbourfront       NaN        NaN
5       M5A  Downtown Toronto       Regent Park       NaN        NaN
6       M6A        North York  Lawrence Heights       NaN        NaN
7       M6A        North York    Lawrence Manor       NaN        NaN
8       M7A      Queen's Park      Not assigned       NaN        NaN
9       M8A      Not assigned      Not assigned       NaN        NaN
10      M9A         Etobicoke  Islington Avenue       NaN        NaN